<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

          <script src="https://kit.fontawesome.com/d59ae822c5.js" crossorigin="anonymous"></script>
</head>

    <nav class="">
        <div class="d-flex flex-column flex-md-row p-3 px-md-4 mb-3 border-bottom shadow-sm" 
        style="background-image:linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);width: 100%;padding-top: 0px!important;" >
                
                <img class="card-img-top" style="width:150px" src="/staticfiles/image/universit-degli-studi-di-milano-bicocca-logo-png-transparent.png"/>
                <h2 class="my-0 mr-md-auto font-weight-normal" style="padding-bottom: 0px!important;" >
                    <a class="navbar-brand" style="padding-top: 18px;padding-left: 10px;color: white;" href="{% url 'index' %}"><h1>Coderbot Marketplace</h1></a>
                </h2>
            </h1>
            

            <!--
            <a class="p-2 text-dark" href="#">Contribute</a>--->
            <form class="p-2 text-dark" style="padding-top: 35px!important; padding-right: 15px!important;" action="/search/" method="GET" >
                <div class="input-group md-form form-sm form-1 pl-0" >                    
                    <button type="submit" style="border:0; padding:0">
                        <span style="padding-top: 35px!important; padding-left: 15px!important; padding-right: 15px!important; border-radius: 2px;" id="basic-text1">
                            <i  class="fas fa-search text-white" aria-hidden="true"></i>
                        </span>
                    </button>
                    <input class="form-control my-0 py-1" type="text" id="team_name" type="text" name="name_field" placeholder="Cerca pacchetto" aria-label="Search /">  
                </div>
            </form>
            <div style="padding-top: 35px!important; padding-right: 15px!important;">
                {% if request.session.user is None %}
                    <a class="btn btn-light" href="/login/">Sign in</a>
                {% else %}
                    <a class="btn btn-success" href="/profile">
                        <div class="row" style="height:25px; margin: 0px;" >
                            <i  class="fas fa-user fa-bleu" style="padding-right: 5px;padding-top: 4px;"  aria-hidden="true"></i>
                            <p class="card-title" >{{request.session.user}}</p>
                        </div>
                    </a>
                {% endif %}
            </div>


           

            
        </div>
    </nav>
<header class="container">

</header>
<body>


{% block body_content %}{% endblock %}


<footer class="container py-5 mt-5 border-top shadow">
    <div class="row">
        <div class="col-12 col-md">
            
            <small class="d-block mb-3 text-muted">&copy; 2018-2020 CoderBot</small>
        </div>
        <div class="col-6 col-md">
            <h5>Partner</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="https://www.coderbot.org/it/index.html">Progetto Coderbot</a></li>
                <li><a class="text-muted" href="https://www.unimib.it/">Universit&agrave degli studi di Milano-Bicocca</a></li>
                
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Risorse</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="https://docs.coderbot.org/">Documentazione</a></li>
                <li><a class="text-muted" href="https://www.coderbot.org/it/blog.html">Blog</a></li>
                <li><a class="text-muted" href="https://repo.coderbot.org/">Repository</a></li>
            </ul>
        </div>
    </div>
</footer>


</body>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</html>