{% extends "body.html" %}
{% load static %}
{% block page_content %}
    <h1>Top package</h1>
    <div class="row mb-4">
        
            <div class="col-md-4 mt-4 mb-4">
                <div class="shadow">
                    <div class="card mb-2 border-0">
                        <img class="card-img-top" src="{% static pack.image_cover %}" alt="package Image">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text text-justify">f</p>
                        <a  class="btn btn-primary">Open package card</a>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}