{% extends "body.html" %}
{% load static %}
{% block page_content %}
<div class="container  ">
    <h2 class=" display-4 m-4"> <b>{{ pack_selected.IT_Name }} </b></h2>
    <div class="container">
        <div class="row no-gutters bg-light position-relative">
            <div class="col-md-6 mb-md-0 p-md-4">
                <img class="card-img-top" src="{{  pack_selected.image_cover }}">
            </div>
            <div class="col-md-6 position-static p-4 pl-md-0">
                <h5 class="mt-0">Categoria</h5>
                    <p class="btn btn-success">{{ pack_selected_category.IT_NameCategory }}</p>                
                <h5 class="mt-0">Descrizione</h5>
                <p class="text-justify">{{ pack_selected.IT_Desc }}</p>
                
                    <h5 class="mt-0">Ultima versione</h5>
                    {% if pack_info is None %}
                        <p class="text-justify">Nessuna versione disponibile</p>
                    {% else %}
                        <p class="text-justify">{{ pack_info.version }} - {{ pack_info.timeupload }}</p>
                        <a href="/staticfiles/package/{{pack_selected.NamePackage}}/{{pack_selected.NamePackage}}_{{pack_info.version}}.zip" class="stretched-link">Download pachetto</a>
                    {% endif %}
            </div>
        </div>


    </div>
</div>

<div class="container mt-5  ">
        <h2 class=" display-4 m-4"> Requests</h2>
    <div class="row   ">



       
    </div>

</div>
{% endblock %}