{% extends "body.html" %}
{% load static %}
{% block page_content %}
    {% if form is None %}
        <h1>Search</h1>
    {% else %}
        <h1>Search: {{form}} </h1>
    {% endif %}
    {%if preselect_cat != 0 %}
        {% for category in categories_list %}
            {% if category.id == preselect_cat %}
                <h4 class="card-title">Category: {{category.IT_NameCategory}}</h4>
            {% endif %}
        {% endfor %}
    {% endif %}
    
    <div class="row mb-4">
        
        

        <form action="/search/" method="GET" >
            <div class="input-group md-form form-sm form-1 pl-0">
                <div class="input-group-prepend"></div>
                <button type="submit" style="border:0; padding:0">
                    <span style="padding-top: 35px!important; padding-left: 15px!important; padding-right: 15px!important; border-radius: 2px;" id="basic-text1">
                        <i  class="fas fa-search text-white" aria-hidden="true"></i>
                    </span>
                </button>
                        {% if form is None %}
                            <input class="form-control my-0 py-1" type="text" id="team_name" type="text" name="name_field" placeholder="Search" aria-label="Search">
                        {% else %}
                            <input class="form-control my-0 py-1" type="text" id="team_name" type="text" name="name_field" placeholder="Search" value="{{form}}" aria-label="Search">
                        {% endif %}
                    <select id="category_field" name="category_field">
                        <option value="0" selected>All</option>
                        {% for category in categories_list %}
                            {% if category.id == preselect_cat %}
                                <option value="{{category.id}}" selected>{{ category.IT_NameCategory}}</option>
                            {% else %}
                                <option value="{{category.id}}">{{ category.IT_NameCategory}}</option>
                            {% endif %}
                        
                        {% endfor %}
                      </select>
                </div>
            </div>
        </form>


        <div class="container mt-5  ">
            
            {%if  packs.count  == 0%}
                <h4 class="card-title">No packages found</h4>
            {%else%}
                <h4 class="card-title">{{packs.count }} packages found</h4>
            {% endif %}

            <div class="row">
            {% for pack in packs %}
                
                    <div class="col-md-4 mt-5 ">
                        <div class="card mb-2">
                            
                                <div class="card-body rounded  shadow">
                                    <img class="card-img-top" src="{{ pack.image_cover }}" alt="package Image">
                                    <h5 class="card-title"><span class="badge badge-primary">Download</span></h5>
                                    <p class="card-title"><b>Nome:</b> {{ pack.IT_Name }}</p>
                                    <p class="card-title"><b>Info:</b> {{ pack.IT_Desc }}</p>
                                    <a href="/package/{{pack.NamePackage}}" class="btn btn-primary">Open product card</a>
                                </div>
                            
                        </div>
                    </div>
               
            {% endfor %}
        </div>
    </div>
{% endblock %}